
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.prompt-helper-floating-button {
    --right: 10px;
    width: 40px;
    height: 40px;
    position: fixed;
	top: 200px;
    right: var(--right);
    /* bottom: 60px; */
    font-size: 15px;
    background-color: #03e9f4;
    color: #010201;
    /* padding: 17px 25px; */
    z-index: 150;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 34px #0000001c;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 700;
}
.prompt-helper-floating-button .icon {
    width: 30px;
}
.prompt-helper-floating-button.drawer-open {
    right: calc(var(--helper-drawer-width) + var(--right) - 10px);
}
.prompt-helper-floating-button .icon {
    height: 30px;
}
.prompt-helper-floating-button .closeIcon {
    transform: rotate(45deg);
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.prompt-helper-drawer {
    height: 100%;
    width: 700px;
    position: fixed;
    z-index: 601;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
	background: 
		repeating-linear-gradient(45deg, 
				#000 0 1em, #111 0 2em);
	font: 900 .75em ubuntu, sans-serif;
    border: 1px solid rgba(34, 34, 34, 0.05);
}
.prompt-helper-kofi-button {
    display: block;
}
.prompt-helper-kofi-button img {
    height: 50px;
}
.buttonsContainer {
    width: 100%;
    position: sticky;
    top: 0;
    text-align: left;
    z-index: 99;
    background-color: #121213;
    padding: 20px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.05);
}
.subcategoryContainer {
    padding: 0 20px;
    margin-top: 40px;
}
.kofi {
    margin-top: 40px;
    padding: 12px 20px 20px;
    border-top: 1px solid rgba(34, 34, 34, 0.05);
    text-align: center;
    color: #03e9f4;
}
.kofi .credit {
    color: #03e9f4;
}
.kofi a {
    color: #03e9f4;
    text-decoration: underline;
}
.kofi a:hover {
    color: #133133;
}
.prompt-helper-category-button {
    padding: 3px 8px;
    background-color: #050801;
    color: #03e9f4;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    letter-spacing: 2px;
    overflow: hidden;
    margin-bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
}
.prompt-helper-category-button:not(.selected):hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.prompt-helper-category-button:not(:last-child) {
    margin-right: 9px;
}
.prompt-helper-category-button.selected {
    color: #fff;
    background-color: #020102;
}
.prompt-helper-keyword {
    transition: transform 0.2s ease-in-out;
}
.prompt-helper-keyword .name {
    color: #03e9f4;
    font-size: 16px;
    text-align: center;
}
.prompt-helper-keyword .keyword-image {
    width: 152px;
    height: 152px;
    border-radius: 7px;
    transition: transform 0.1s ease-in-out;
    margin-bottom: 3px;
}
.prompt-helper-keyword.active {
    opacity: 0.4;
    transform: scale(0.85);
}
.prompt-helper-keyword-container {
    cursor: pointer;
    width: 152px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 15px;
}
.prompt-helper-keyword-container .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.1s ease-in-out;
}
.prompt-helper-keyword-container .overlay.visible {
    opacity: 1;
}
.prompt-helper-keyword-container .overlay .action-icon-container {
    position: absolute;
    right: 8px;
    top: 8px;
}
.action-icon-container {
    border-radius: 100%;
    width: 31px;
    height: 31px;
    box-shadow: 0 14px 34px #0000001c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-icon-container.add {
    background: #fdfdfd;
}
.action-icon-container.remove {
    background: #333;
}
.action-icon-container .plus-icon {
    transition: all 0.1s ease-in-out;
}
.action-icon-container .plus-icon.add {
    color: #333;
}
.action-icon-container .plus-icon.remove {
    color: #fdfdfd;
    transform: rotate(45deg);
}
.prompt-helper-subcategory {
    margin-top: 40px;
}
.prompt-helper-subcategory h2.name {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2;
    color: #03e9f4;
}
.prompt-helper-subcategory .name {
    font-family: ColfaxAI, Helvetica, sans-serif;
    color: #03e9f4;
}
.prompt-helper-subcategory .keywords-grid {
    display: inline-grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 12px 23px;
}
:root {
    --helper-drawer-width: 700px;
}
.prompt-helper-shrink-container {
    width: calc(100% - var(--helper-drawer-width));
}
/* Tab Headers Container */
.tab-headers {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
  }
  
  /* Individual Tab Header */
  .tab-header {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s;
  }
  
  /* Active Tab Header */
  .tab-header.active {
    background-color: #ccc;
    color: white;
  }
  
  /* Tab Content Container */
  .tab-content {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  /* Subcategory Container */
  .subcategoryContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .expand-button {
    padding: 8px 15px;
    background-color: #03e9f4; /* Zöld háttér */
    color: white; /* Fehér szöveg */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .expand-button:hover {
    background-color:#114244; /* Sötétebb zöld háttér a hover hatáshoz */
    transform: scale(1.05); /* Enyhe nagyítás hoverkor */
  }
  
  .expand-button:focus {
    outline: none; /* Eltávolítja a fókusz keretet */
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5); /* Zöld glow effektus fókusz esetén */
  }
  